<div class="father">
  <div class="container">
    <a href="">
      <i class="fa-solid fa-arrow-left iconArrow" style="color: #ffffff;"></i>
    </a>
    <div class="title">
      <h1>Logs</h1>
    </div>

    <div class="example-header">
      <mat-form-field class="filterInput">
        <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar">
      </mat-form-field>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="barName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Nome do Bar </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.barName}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="timePlayed">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data do jogo </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.timePlayed | dateFormat}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="uploadedData">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Data do upload </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.uploadedData | dateFormat}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="hits">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Acertos </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.hits}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="miss">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Erros </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.miss}} </mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>