<div class="father">
    <div class="container">

        <a href="http://15.229.14.115:8080/api/datalogs/downloaddata">
            <i class="fa-solid fa-file-arrow-down icon"></i>
        </a>
        <a href="/log-dashboard">
            <i class="fa-solid fa-arrow-right iconArrow" style="color: #ffffff;"></i>
        </a>

        <mat-card>
            <mat-card-header>LOGS</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of dataTotal">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content class="content">
                <p>Ultima atualização: {{lastUpdateTotal | dateFormat }}</p>
            </mat-card-content>

            <mat-card-content class="icondownload">
                <a href="http://15.229.14.115:8080/api/players/download">
                    <i class="fa-regular fa-file-zipper icond"></i>
                </a>
            </mat-card-content>
            


        </mat-card>

    </div>
</div>