<div class="father">
    <div class="container">

        <a href="http://hnk150.ddns.net:8080/api/datalogs/downloaddata">
            <i class="fa-solid fa-file-arrow-down icon"></i>
        </a>
        <a href="/log-dashboard">
            <i class="fa-solid fa-arrow-right iconArrow" style="color: #ffffff;"></i>
        </a>

        <mat-card>
            <mat-card-header>{{ Tablet_1 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data1">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content class="lastUpdate">
                <p>Ultima atualização: {{lastUpdate1 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_2 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data2">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate2 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_3 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data3">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate3 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_4 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data4">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate4 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_5 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data5">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate5 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_6 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data6">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate6 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>


        <mat-card>
            <mat-card-header>{{ Tablet_7 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data7">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate7 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_8 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data8">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate8 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_9 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data9">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate9 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>{{ Tablet_10 | underscoreToSpace }}</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of data10">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdate10 | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>Total</mat-card-header>
            <mat-card-content class="content" *ngFor="let item of dataTotal">
                <p>{{ item.status }}:</p>
                <p>{{ item.count }}</p>
            </mat-card-content>
            <mat-card-content>
                <p>Ultima atualização: {{lastUpdateTotal | dateFormat }}</p>
            </mat-card-content>
        </mat-card>

    </div>
</div>